@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  --primary-white: #f8f8ff;
  --primary-gray: #808080;
  --primary-dark: #ffffff00;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
/************************* NAVBAR ***************************/
.logo {
  width: 12.25rem;
}

/******* MENU LINKS **********/
nav a.nav-link {
  
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  text-align: -webkit-center;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.2rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 13.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li >a:active:focus {
  /*border-top: 0.2rem solid var(--primary-gray);*/
  background: var(--primary-gray);
}

.navbar-nav > li > a:hover {
  /*border-top: 0.2rem solid var(--primary-gray);*/
  background: var(--primary-gray);
}

.navbar-toggler {
  margin-right: 0.75rem;
}
